@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.scrollbar::-webkit-scrollbar {
    background-color: transparent;
    width: 5px
}

.scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-track:hover {
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {display:none}

* {
    box-sizing: border-box;
}

body, 
html {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1000;
}

.header-container {
    align-items: center;
    align-self: flex-start;
    background: rgba(50, 50, 50, .5);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
}

.header-container__logo {
    border-radius: 5%;
    width: 55px;
}

.header-container__title {
    color: #fff;
    margin: 0;
}

.pilots-data-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 300px;
    overflow: auto;
    padding: 25px;
    width: 95%;
}

.pilots-data-wrapper__header {
    align-items: center;
    color: #434343;
    display: flex;
    justify-content: space-between;
}

.pilots-data-wrapper__header__title-wrapper {
    display: flex;
}

.pilots-data-wrapper__header__icon {
    font-size: 4rem;
    margin-right: 15px;
}

.pilots-data-wrapper__header__main-title,
.pilots-data-wrapper__header__secondary-title {
    margin: auto;
}

.pilots-data-wrapper__header__main-title {
    font-weight: bold;
    text-transform: uppercase;
}

.pilots-data-wrapper__header__secondary-title {
    font-size: 1.3rem;
    letter-spacing: 3px;
    margin-top: -12px;
}

.bestlap-information__table {
    border-spacing: 0;
    text-align: left;
}

.bestlap-information__table__headers th {
    border-bottom: 1px solid #434343;
    padding: 10px;
}

.pilots-data-wrapper__header__secondary-title__bar {
    color: #FC695A;
    font-size: 2rem;
}

.pilots-data-wrapper__header__secondary-title__year {
    font-size: 2rem;
}

.bestlap-information {
   justify-self: flex-end;
}

.bestlap-information__title {
    margin: auto;
}

.pilots-data-wrapper__table {
    border-spacing: 0;
}

.pilots-data-wrapper__table__headers th {
    background: #FC695A;
    border-bottom: 1px solid #434343;
    padding: 10px;
}

.pilots-data-wrapper__table__rows:hover {
    background: #FC695A;
}

.pilots-data-wrapper__table__rows-bestlap td {
    padding: 10px;
    text-align: center;
}

.pilots-data-wrapper__table__rows td {
    border-bottom: 1px solid #434343;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.pilots-data-wrapper__table__rows__icon-done,
.pilots-data-wrapper__table__rows__icon-incomplete {
    font-size: 1.2rem;
}

.pilots-data-wrapper__table__rows__icon-done {
    color: #28a745;
}

.pilots-data-wrapper__table__rows__icon-incomplete {
    color: #dc3545;
}

.main-content__form {
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: 2px dashed #434343;
    outline-offset: -10px;
    margin: auto;
    min-height: 300px;
    padding: 25px;
    text-align: center;
    width: 70%;
}

.main-content__form__input {
    display: none;
}

.main-content__form__label {
    color: #434343;
    display: flex;
    font-weight: bold;
    flex-direction: column;
}

.main-content__form__label__icon {
    color: #434343;
    opacity: 0.7; 
}

.main-content__form__label__content {
    font-size: 1.1rem;
    margin-top: 5px;
}

.hide {
    display: none;
}

.main-content__form__submit {
    background: #FC695A;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    max-width: 260px;
    outline: 0;
    padding: 8px;
    width: 100%;
}

.fileHover {
    background: rgba(255, 255, 255, 1);
}

.footer-container {
    align-items: center;
    background: rgba(50, 50, 50, .5);
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    width: 100%;
}

.footer-container__author {
    color: #fff;
    font-size: .9rem;
    margin: 0;
}

.footer-container__author__icon {
    color: #ff0000;
}

.footer-container__social-list {
    align-items: center;
    display: flex;
    font-size: 1.7rem;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 75px;
}

.footer-container__social-list__item__link {
    color: #fff;
}